<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
<!--<img src="/static/ing.png" width="450">-->
<link rel="stylesheet" href="static/css/bootstrap.min.css">
<script src="static/js/jquery-3.3.1.min.js"></script>
<script src="static/js/popper.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="/static/java_script.js"></script>
    <style>
        body {
        background: #c7b39b url(/static/aaa.jpg);
        color: #fff;
        }
        .scale {
        transition: 1s; /* Время эффекта */
       }
       .scale:hover {
        transform: scale(1.8); /* Увеличиваем масштаб */
       }
    </style>
    <a href="home">
        <img src="/static/ing.png" width="450">
    </a>
</head>
<body>
<div class="container-fluid">

      <div class="row">
          <div class="col-3" style = "padding: 0px" style="height: 5000px">
            <div class = "card card-body bg-light" align="center" >
                <a class="btn btn-outline-dark" href="line16">Наши объекты </a>
                <a class="btn btn-outline-dark" href="line15">Специалисты</a>
                <a class="btn btn-outline-dark" href="line17">Обратная связь</a>

            </div>
          </div>
          <div class="col-7" style = "padding: 0px" style="height: 5000px">
            <div class = "card card-body bg-light" align="center" >
                <p><font size="6" color="black" face="Impact">Свяжитесь с нами</font>

             <!--Section: Contact v.2-->
            <section class="section">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6 mb-4">

                        <form method = 'POST' action = 'inbox_message'>
                        <div class="md-form">
                          <input type="text" name="name" class="form-control" >
                          <font size="4" color="black" face="Impact">Имя</font>
                        </div>

                        <div class="md-form">
                          <input type="email" name="e_mail" class="form-control">
                          <font size="4" color="black" face="Impact">Email</font>
                        </div>

                        <div class="md-form">
                          <input type="tel" name="phone_number" class="form-control">
                          <font size="4" color="black" face="Impact">Телефон</font>
                        </div>

                    </div>
                        <div class="col-md-6 mb-4">
                          <div class="md-form primary-textarea">
                            <textarea name="message" class="md-textarea form-control mb-0" rows="5"></textarea>
                            <font size="4" color="black" face="Impact">Ваше сообщение</font>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="text-center">
                            <button class="btn btn-outline-dark" type = "submit">Отправить</button>
                          </div>
                        </div>
                        </form>
                </div>
              </div>
            </section>
          </div>
    </div>
<!--Section: Contact v.2-->
</body>
</html>